body{background: #ddd;}

#container {
    background: #fff;
    margin: auto; width: 800px;
    padding: 20px;
}

article{
    padding-top: 20px;
    column-count: 3;
    column-gap: 20px;
    column-rule: dotted 4x #ccc;
}


footer{
    width: 800px auto; height: 100px;
    background: #39ff32;
}

#qr{
    width: 50px auto; height: 100px; background: #058800;
    float: left; display: flex; align-items: center;
    text-align: center; box-shadow: 10px solid #000;
}

#foot_izq{
    width: 710px; height: 50px; background: #c90202;
    float: left;
}

#foot_der{
    width: 300px auto; height: 100px; background: #950f6f;
    float: right; text-align: center;
    display: flex; align-items: center;
    color: #ffffff;
    font-size: 12px; box-sizing: border-box;
}

redes{
    padding: 10px;

}

#redes h3{
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

#sociales{
    width: 350px; text-align: center;
}

#sociales li{
    display: inline-block;
}

ul{
    margin: auto; 
    list-style: none;
}